#VelocityDiscord configuration
#Sat Sep 26 11:57:50 UTC 2026
allowed.discord.role.ids=[${DISCORD_ALLOWED_ROLE_ID}]
bot.token=${DISCORD_VERIFY_TOKEN}
code.expiry.minutes=10
code.length=6
debug=false
discord.guild.id=${DISCORD_GUILD_ID}
enforce.linking=true
messages.bot-offline=Il n'est pas possible de lier son compte Discord pour le moment. Contactez le staff pour plus d'infos.
messages.discord-server-only=Exécute cette commande sur Suze Tétine, pas en MPs.
messages.invalid-code=Ce code est invalide ou expiré. Rejoin le serveur pour en générer un nouveau.
messages.kick=<gold>Plop l'asticot</gold>\\n\\n<gray>Verifie ton compte avec Discord. Execute \:</gray>\\n<yellow>/link code\:{code}</yellow> dans n'importe-quel channel de suze tetine.
messages.no-required-role=Tu n'as pas les roles requis sur Discord pour executer cette commande.
messages.success=Ton compte Minecraft est verifie. Rejoin le serveur pour continuer.
messages.usage=Usage\: /link code\:<your minecraft code>
messages.wrong-discord-server=Execute cette commande dans le bon serveur Discord.
special.discord.role.id=
special.enabled=false
